@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.carousel {
  margin: 5rem 0rem;

  @include breakpoint-lg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  &-wrapper {

    @include breakpoint-lg {
      width: 80%;
    }

    @include breakpoint-xl {
      width: 100%;
    }
  }

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 2rem;
    color: $primary-accent-color;
    background-color: $translucent-white;

    @include breakpoint-xl {
      font-size: 1.8rem;
      padding: 4rem;
      height: 500px;
    }
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23030202' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23030202' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

.carousel-img {
  height: 300px;
  width: 100%;

  @include breakpoint-xl {
    height: 500px;
    width: 700px;
  }
}