@import '../../styles/variables.scss';

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;

  &-wrapper {
    width: 800px;
  }

  &-text {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    height: 500px;
    padding: 4rem 4rem;
    color: $primary-accent-color;
    background-color: $translucent-white;
  }
}

.carousel-img {
  height: 500px;
  width: 700px;
}