@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form {

  @include breakpoint-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  }

  &-text {
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 60%;
    color: $primary-accent-color;
    background-color: $translucent-white;
    font-size: 1.8rem;
    padding: 0rem 5rem;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 70%;
    border-radius: 10%;
    background-color: $secondary-accent-color;
    margin: 4rem auto;

    @include breakpoint-md {
      width: 40%;
    }

    @include breakpoint-lg {
      height: 100%;
      margin: 0;
      flex-basis: 30%;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $accent-font;

      @include breakpoint-lg {
        flex-basis: 100%;
      }

      .input {
        padding: .5rem;
        border-radius: 4px;
        margin-bottom: 2rem;
        width: 100%;

        @include breakpoint-lg {
          width: 75%;
        }

        &:focus {
          border: 3px solid $primary-accent-color;
        }
      }

      .submitbutton {
        padding: .5rem;
        border-radius: 4px;
        width: 50%;
        color: $primary-accent-color;
        background-color: $white;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;

        @include breakpoint-lg {
          width: 40%;
        }

        &:hover {
          box-shadow: 4px 4px 0 0 $translucent-white;
        }
      }
    }
  }
}