// Colors
$white: #ffffff;
$translucent-white: #ffffffbb;
$primary-accent-color: #4B4141;
$secondary-accent-color: #0d004f;

// Fonts
$primary-font: 'Crimson Pro', serif;
$accent-font: 'Overpass Mono', monospace;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;