// Colors
$white: #ffffff;
$translucent-white: #ffffffbb;
$primary-accent-color: #4B4141;
$secondary-accent-color: #0d004f;

// Fonts
$primary-font: 'Crimson Pro', serif;
$accent-font: 'Overpass Mono', monospace;