@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.app-header {
  background-image: url('../../images/dot-grid.png');
  font-family: 'Overpass Mono', monospace;
  padding: 3rem;

  &-text {
    font-size: 2.5rem;
    color: $primary-accent-color;

    @include breakpoint-xl {
      font-size: 3rem;
    }
  }
}