@import '../../styles/variables.scss';

.app-header {
  background-image: url('../../images/dot-grid.png');
  font-family: 'Overpass Mono', monospace;
  padding: 3rem;

  &-text {
    font-size: 3rem;
    color: $primary-accent-color;
  }
}