@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Overpass+Mono:700&display=swap');
@import './styles/reset.scss';


body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3;
  background-image: url(./images/dot-grid.png)
}
